@using Calendar.ObjectModel.Models;

@model Event
<h1>@(Model.Title)</h1>
<div id="details">
  <ol>
    <li>Start time: @(Model.Start)</li>
    <li>End time: @(Model.End)</li>
    <li>Location: @(Model.Location)</li>
    @if (Model.Owner != null)
    {
        <li>Organizer: <a href="../users/@(Model.Owner.Id)">@(Model.Owner.DisplayName)</a></li>
    }
  </ol>
  <p id="description">@(Model.Description)</p>
</div>
<div>
  <h2>Attendees</h2>
  <ul>
      @foreach (var user in
          from guest in Model.Guests
          where guest.HasAccepted && guest.User != null
          select guest.User)
      {
          <li><a href="../users/@(user.Id)">@(user.DisplayName)</a></li>
      }
  </ul>
</div>